/** Common */
& when (@media-common = true) {

	.header {

		&.content {

			.minicart-wrapper {

				a {

					&.showcart {
						position: relative;

						.counter {

							&.qty {
			    			width: auto;
	    					min-width: 20px;
	    					height: auto;
	    					min-height: 20px;
	    					font-size: 9px;
	    					left: 23px;
	    					position: absolute;
	    					border-radius: 50%;
	    					background: #40a39f;
	    					color: #ffffff;
	    					line-height: 26px;
	    					margin-top: -5px;
							}
						}
					}
				}
			}
		}
	}
}