& when (@media-common = true) {

	/** General */
	body {
		color: @font-color;
		font-family: 'Oswald', Helvetica, Arial, sans-serif;
		font-size: 15px;
		font-weight: 300;
		line-height: 20px;
	}
}
