/** Common */
& when (@media-common = true) {

	// General
	body {

		&.page-products {

			.column {

				&.main {
					float: left;
					width: 66.6666667%;
				}
			}

			.sidebar-main {
				padding-left: 2%; 
				padding-right: 0;
				width: 33.3333333%;
			}

			.sidebar-additional {
				clear: right;
				padding-left: 2%;
				padding-right: 0;
				width: 33.3333333%;
			}
		}
	}

	// Sidebar
	.block {

		&.filter {

			.filter-title {
    		border-bottom: 1px solid @filter-title-border;
    		margin-bottom: 10px;
    		padding-bottom: 5px;

				strong {
    			color: @filter-title-color;
					font-weight: 300;
    			font-size: 24px;
    			line-height: 30px;
    			text-transform: uppercase;
				}
			}
		}

		.block-title {
			border-bottom: 1px solid @filter-title-border;
  		margin-bottom: 10px;
  		padding-bottom: 5px;
  		position: relative;

  		strong {
  			color: @filter-title-color;
				font-weight: 300;
  			font-size: 24px;
  			line-height: 30px;
  			text-transform: uppercase;
  		}
		}
	}

	.block-subtitle {
		border-bottom: 1px solid @filter-title-border;
		color: @filter-title-color;
		font-weight: 300;
		font-size: 24px;
		line-height: 30px;
    margin-bottom: 10px;
    padding-bottom: 5px;
		text-transform: uppercase;
	}

	.filter-options {

		.filter-options-title {
			border-bottom: 1px solid @filter-title-border;
			color: @filter-title-color;
			font-weight: 300;
			font-size: 24px;
			line-height: 30px;
	    margin-bottom: 10px;
	    padding-bottom: 5px;
			text-transform: uppercase;
		}

		.filter-options-content {

			.item {

		    a {
		    	background-color: @filter-option-background;
			    border-left: 5px solid @filter-border-left;
			    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
			    color: @filter-option-color;
					display: block;
			    padding: 9px 10px;
			    transition-duration: 0.3s;
			    transition-duration: 0.5s;
			    transition-property: background-color;
			    transition-property: border-color;
			    transition-property: border-width;
			    transition-duration: 0.5s;
			    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
			    -moz-transition-duration: 0.3s;
			    -moz-transition-duration: 0.5s;
			    -moz-transition-duration: 0.5s;
			    -moz-transition-property: background-color;
			    -moz-transition-property: border-color;
			    -moz-transition-property: border-width;
			    -ms-transition-duration: 0.3s;
			    -ms-transition-duration: 0.5s;
			    -ms-transition-duration: 0.5s;
			    -ms-transition-property: background-color;
			    -ms-transition-property: border-color;
			    -ms-transition-property: border-width;
			    -o-transition-duration: 0.3s;
			    -o-transition-duration: 0.5s;
			    -o-transition-duration: 0.5s;
			    -o-transition-property: background-color;
			    -o-transition-property: border-color;
			    -o-transition-property: border-width;
			    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
			    -webkit-transition-duration: 0.3s;
			    -webkit-transition-duration: 0.5s;
			    -webkit-transition-duration: 0.5s;
			    -webkit-transition-property: background-color;
			    -webkit-transition-property: border-color;
			    -webkit-transition-property: border-width;		

			    &:hover {
				    background-color: @filter-hover-background;
				    border-left: 15px solid @filter-hover-border;
			    	text-decoration: none;
			    }    
			  }
			}
		}
	}

	.filter-current {

		.filter-label {
			background-color: @filter-label-background;
	    border-left: 5px solid @filter-label-border;
	    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
	    color: @filter-label-color;
			display: block;
	    padding: 9px 10px;
	    transition-duration: 0.3s;
	    transition-duration: 0.5s;
	    transition-property: background-color;
	    transition-property: border-color;
	    transition-property: border-width;
	    transition-duration: 0.5s;
	    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
	    -moz-transition-duration: 0.3s;
	    -moz-transition-duration: 0.5s;
	    -moz-transition-duration: 0.5s;
	    -moz-transition-property: background-color;
	    -moz-transition-property: border-color;
	    -moz-transition-property: border-width;
	    -ms-transition-duration: 0.3s;
	    -ms-transition-duration: 0.5s;
	    -ms-transition-duration: 0.5s;
	    -ms-transition-property: background-color;
	    -ms-transition-property: border-color;
	    -ms-transition-property: border-width;
	    -o-transition-duration: 0.3s;
	    -o-transition-duration: 0.5s;
	    -o-transition-duration: 0.5s;
	    -o-transition-property: background-color;
	    -o-transition-property: border-color;
	    -o-transition-property: border-width;
	    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
	    -webkit-transition-duration: 0.3s;
	    -webkit-transition-duration: 0.5s;
	    -webkit-transition-duration: 0.5s;
	    -webkit-transition-property: background-color;
	    -webkit-transition-property: border-color;
	    -webkit-transition-property: border-width;
		}

		.filter-value {
	    background-color: @filter-value-background;
	    color: @filter-value-color;
			display: inline-block;
	    font-size: 15px;
	    font-weight: 400;
	    line-height: 16px;
	    padding: 9px 10px;
	    vertical-align: baseline;
	    white-space: nowrap;
		}

		.action {

			&.remove {
		    color: @filter-remove-color;
				display: inline-block;
		    font-size: 15px;
		    font-weight: 400;
		    line-height: 16px;
		    padding: 2px 4px;
		    vertical-align: baseline;
		    white-space: nowrap;

		    &:hover {
		    	text-decoration: none;
		    }
			}
		}

		+ .filter-actions {

			a {
		    color: @filter-remove-color;
				display: inline-block;
		    font-size: 15px;
		    font-weight: 400;
		    line-height: 16px;
		    padding: 2px 4px;
		    vertical-align: baseline;
		    white-space: nowrap;

		    &:hover {
		    	text-decoration: none;
		    }
			}
		}
	}

	.sidebar {

		.product-items-names {

			.product-item {
				background-color: @sidebar-product-background;
		    border-left: 5px solid @sidebar-product-border;
		    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
		    color: @sidebar-product-color;
				display: block;
				margin-bottom: 3px;
		    padding: 9px 10px;
		    transition-duration: 0.3s;
		    transition-duration: 0.5s;
		    transition-property: background-color;
		    transition-property: border-color;
		    transition-property: border-width;
		    transition-duration: 0.5s;
		    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
		    -moz-transition-duration: 0.3s;
		    -moz-transition-duration: 0.5s;
		    -moz-transition-duration: 0.5s;
		    -moz-transition-property: background-color;
		    -moz-transition-property: border-color;
		    -moz-transition-property: border-width;
		    -ms-transition-duration: 0.3s;
		    -ms-transition-duration: 0.5s;
		    -ms-transition-duration: 0.5s;
		    -ms-transition-property: background-color;
		    -ms-transition-property: border-color;
		    -ms-transition-property: border-width;
		    -o-transition-duration: 0.3s;
		    -o-transition-duration: 0.5s;
		    -o-transition-duration: 0.5s;
		    -o-transition-property: background-color;
		    -o-transition-property: border-color;
		    -o-transition-property: border-width;
		    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
		    -webkit-transition-duration: 0.3s;
		    -webkit-transition-duration: 0.5s;
		    -webkit-transition-duration: 0.5s;
		    -webkit-transition-property: background-color;
		    -webkit-transition-property: border-color;
		    -webkit-transition-property: border-width;

		    &:hover {
		    	background-color: @sidebar-product-hover-ba;
		    	border-left: 15px solid @sidebar-product-hover-b;

		    	a {

		    		&:before {
		    			color: @sidebar-product-hover-color;
		    		}
		    	}
		    }

		    a {

		    	&:before {
		    		display: none;
		    	}
		    }
			}
		}

		.product-items {

			.product-item {
				background-color: @sidebar-product-background;
		    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
		    color: @sidebar-product-color;
				display: block;
				margin-bottom: 3px;
		    padding: 9px 10px;
		    transition-duration: 0.3s;
		    transition-duration: 0.5s;
		    transition-property: background-color;
		    transition-property: border-color;
		    transition-property: border-width;
		    transition-duration: 0.5s;
		    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
		    -moz-transition-duration: 0.3s;
		    -moz-transition-duration: 0.5s;
		    -moz-transition-duration: 0.5s;
		    -moz-transition-property: background-color;
		    -moz-transition-property: border-color;
		    -moz-transition-property: border-width;
		    -ms-transition-duration: 0.3s;
		    -ms-transition-duration: 0.5s;
		    -ms-transition-duration: 0.5s;
		    -ms-transition-property: background-color;
		    -ms-transition-property: border-color;
		    -ms-transition-property: border-width;
		    -o-transition-duration: 0.3s;
		    -o-transition-duration: 0.5s;
		    -o-transition-duration: 0.5s;
		    -o-transition-property: background-color;
		    -o-transition-property: border-color;
		    -o-transition-property: border-width;
		    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
		    -webkit-transition-duration: 0.3s;
		    -webkit-transition-duration: 0.5s;
		    -webkit-transition-duration: 0.5s;
		    -webkit-transition-property: background-color;
		    -webkit-transition-property: border-color;
		    -webkit-transition-property: border-width;

		    a {
		    	color: @sidebar-product-color;

		    	&:hover {

		    		&:before {
		    			color: @sidebar-product-remove;
		    		}
		    	}
		    }

		    .price-box {
		    	background: transparent;
			    box-shadow: none;
			    border: none;
			    color: @sidebar-product-price;
					float: none;
					padding: 0 0;
			    -moz-box-shadow: none;
			    -webkit-box-shadow: none;
		    }
			}

			.product-item-name {
				border-bottom: none;
		    box-shadow: none;
				font-size: 15px;
		    line-height: 19px;
		    margin: 0 0 10px;
		    padding-bottom: 0;
		    padding-top: 0;
		    -moz-box-shadow: none;
		    -webkit-box-shadow: none;
			}
		}

		.product-item-actions {
			float: none;
		}
	}

	.block-compare {

		.action {

			&.delete {
				height: 38px;
			}

			&.compare {
				background-color: @compare-button-background;
    		border-color: @compare-button-border;
    		color: @compare-button-color;

			 	&:hover {
			 		background-color: @compare-button-hover-ba;
    			border-color: @compare-button-hover-b; 
    			color: @compare-button-hover-color;   			
			 	}
			}
		}

		.product-item {

			.product-item-name {
				margin: 0;

				> a {
					color: @sidebar-product-color;
				}
			}
		}

		.counter {
			bottom: 0;
			position: absolute;
			right: 0;
		}
	}

	.block-wishlist {

		.counter {
			bottom: 0;
			position: absolute;
			right: 0;
		}
	}

	.actions-toolbar {

		.primary {

			a {

				&.action {

					&.details {
						color: @primary-action-color;
					}
				}
			}
		}

		.secondary {

			a {

				&.action {
					color: @secondary-action-color;
				}
			}
		}
	}

	.swatch-option {

		&.image {

			&:not(.disabled) {

				&:hover {
					outline: 2px solid @swatch-option-hover !important;
				}
			}
		}

		&.color {

			&:not(.disabled) {

				&:hover {
					outline: 2px solid @swatch-option-hover !important;
				}
			}
		}
	}

	// Product listing
	.modes {
		background-color: @modes-background;
    box-shadow: 0px 1px 4px 1px @modes-first-shadow, 2px 2px 1px 0px @modes-second-shadow inset;
		list-style: none;
    -moz-box-shadow: 0px 1px 4px 1px @modes-first-shadow, 2px 2px 1px 0px @modes-second-shadow inset;
    -webkit-box-shadow: 0px 1px 4px 1px @modes-first-shadow, 2px 2px 1px 0px @modes-second-shadow inset;
	}

	.modes-mode {

		&:not(.active) {

			&:hover {
				background: @modes-hover-background;
				color: @modes-hover-color;
			}
		}
	}

	.toolbar-amount {
		color: @toolbar-amount-color;
	}

	.toolbar-products {
		margin-bottom: 15px;
		padding: 0;
	}

	.sorter {
		color: @sorter-color;
	}

	.sorter-action {

		&:before {
			color: @sorter-before-color;
		}

		&:hover {

			&:before {
				color: @sorter-hover-before-color;
			}
		}
	}

	.sorter-options {
		background-color: @sorter-options-background;
    box-shadow: 0px 1px 4px 1px @sorter-first-shadow, 2px 2px 1px 0px @sorter-second-shadow inset;
		list-style: none;
    -moz-box-shadow: 0px 1px 4px 1px @sorter-first-shadow, 2px 2px 1px 0px @sorter-second-shadow inset;
    -webkit-box-shadow: 0px 1px 4px 1px @sorter-first-shadow, 2px 2px 1px 0px @sorter-second-shadow inset;
	}

	.column {

		&.main {

			.product-items {
				margin-left: 0;
			}

			.product-item {
				padding-left: 10px;
			}
		}
	}

	.products {
		margin: 0;

		&.wrapper {

			~ .toolbar {

				.limiter {
					color: @limiter-color;
					padding: 10px 0;
				}
			}
		}
	}

	.products-grid {

		.product-item {
	    background-color: @product-item-background;
	    background-image: linear-gradient(@product-item-first-image, @product-item-second-image);
	    background-image: -moz-linear-gradient(@product-item-first-image, @product-item-second-image);
	    background-image: -ms-linear-gradient(@product-item-first-image, @product-item-second-image);
	    background-image: -o-linear-gradient(@product-item-first-image, @product-item-second-image);
	    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, @product-item-first-image), color-stop(100%, @product-item-second-image));
	    background-image: -webkit-linear-gradient(@product-item-first-image, @product-item-second-image);
	    box-shadow: 0px 1px 4px 1px @product-item-first-shadow, 2px 2px 1px 0px @product-item-second-shadow inset;
	    margin-bottom: 20px;
			padding: 10px;
	    width: 100%;
	    -moz-box-shadow: 0px 1px 4px 1px @product-item-first-shadow, 2px 2px 1px 0px @product-item-second-shadow inset;
	    -webkit-box-shadow: 0px 1px 4px 1px @product-item-first-shadow, 2px 2px 1px 0px @product-item-second-shadow inset;
		}
	}

	.page-products {

		.product-item-info {
			width: 100%;
		}
	}

	.product-item-name {
    border-bottom: 1px solid @product-name-border;
    box-shadow: 0px 1px 0px 0px @product-name-shadow;
		display: table;
		font-size: 20px;
    line-height: 24px;
    margin: 0 0 10px;
		min-height: 48px;
    padding-bottom: 10px;
    padding-top: 5px;
    -moz-box-shadow: 0px 1px 0px 0px @product-name-shadow;
    -webkit-box-shadow: 0px 1px 0px 0px @product-name-shadow;
		width: 100%;

		a {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.product-item {

		.price-box {
	    background: @product-price-background;
	    box-shadow: inset 1px 1px 1px 0px @product-price-shadow;
	    border: 1px solid @product-price-border;
	    border-radius: 3px;
	    color: @product-price-box-color;
			float: right;
			margin: 0 0 10px;
			padding: 1px 10px;
	    transition: all 200ms linear;
	    -ms-border-radius: 3px;
	    -ms-transition: all 200ms linear;
	    -moz-border-radius: 3px;
	    -moz-box-shadow: inset 1px 1px 1px 0px white;
	    -moz-transition: all 200ms linear;
	    -o-border-radius: 3px;
	    -o-transition: all 200ms linear;
	    -webkit-border-radius: 3px;
	    -webkit-box-shadow: inset 1px 1px 1px 0px white;
	    -webkit-transition: all 200ms linear;

			.price-label {
				display: none;
			}

			.price {
				color: @product-price-color;
		    font-size: 12px;
		    font-weight: 300;
				text-transform: uppercase;
			}
		}
	}

	.product-reviews-summary {
		float: left;
		margin: 0 0 10px;

		.rating-summary {
			left: 0;
		}

		.reviews-actions {

			a {
				color: @reviews-summary-color;
		    font-size: 12px;
				text-transform: uppercase;
			}
		}
	}

	.rating-summary {

		.rating-result {

			&:before {
				color: @reviews-stars-color;
			}

			> span {

				&:before {
					color: @reviews-stars-before-color;
				}
			}
		}
	}

	.product-item-actions {
		display: block;
		float: right;
		margin-top: 15px;

		.actions-primary {
			display: table-cell;
			width: 50%;
		}

		.actions-secondary {
			display: table-cell;
			width: 50%;
		}
	}

	.pages {

		.items {
	    background-color: @product-items-background;
	    box-shadow: 0px 1px 4px 1px @product-items-first-shadow, 2px 2px 1px 0px @product-items-second-shadow inset;
			display: inline-block;
			font-weight: 300;
	    margin-bottom: 0;
	    margin-left: 0;
	    -webkit-box-shadow: 0px 1px 4px 1px @product-items-first-shadow, 2px 2px 1px 0px @product-items-second-shadow inset;
	    -moz-box-shadow: 0px 1px 4px 1px @product-items-first-shadow, 2px 2px 1px 0px @product-items-second-shadow inset;
		}

		.item {
			font-size: 15px;
			line-height: 20px;
			margin: 0;

			&.current {

				strong {

					&.page {
						background-color: @page-current-background;
						border-right: 1px solid @page-current-border;
		    		box-shadow: 2px 2px 1px 0px @page-current-shadow inset;
						color: @page-current-color;
						font-size: 15px;
				    line-height: 20px;
						padding: 10px 20px;
				    text-decoration: none;
				    -moz-box-shadow: 2px 2px 1px 0px @page-current-shadow inset;
				    -webkit-box-shadow: 2px 2px 1px 0px @page-current-shadow inset;
					}
				}
			}
		}

		a {

			&.page {
		    background-color: @page-background;
		    border-right: 1px solid @page-border;
		    box-shadow: 2px 2px 1px 0px @page-shadow inset;
		    color: @page-color;
		    line-height: 20px;
				padding: 10px 20px;
		    text-decoration: none;
		    -moz-box-shadow: 2px 2px 1px 0px @page-shadow inset;
		    -webkit-box-shadow: 2px 2px 1px 0px @page-shadow inset;

		    &:hover {
		    	background-color: @page-hover-background;
		    	color: @page-hover-color;
		    }

		    &:visited {
		    	color: @page-visited-color;
		    }
			}
		}

		.action {
			border: none;
			line-height: 20px;
			padding: 10px 20px;

			&:hover {
				background-color: @page-action-hover-ba;
			}

			&.previous {
				margin-right: 0;
			}

			&.next {
				margin-left: 0;
			}
		}
	}

	.limiter-options {
		background-color: @limiter-background;
    box-shadow: 0px 1px 4px 1px @limiter-first-shadow, 2px 2px 1px 0px @limiter-second-shadow inset;
    list-style: none;
    -moz-box-shadow: 0px 1px 4px 1px @limiter-first-shadow, 2px 2px 1px 0px @limiter-second-shadow inset;
    -webkit-box-shadow: 0px 1px 4px 1px @limiter-first-shadow, 2px 2px 1px 0px @limiter-second-shadow inset;
	}
}

/** Small devices */
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {

	.page-products {

		.products-grid {

			.product-item {
				margin-left: 0;
				margin-right: 2%;
				width: 49%;

				&:nth-child(even) {
					margin-right: 0;
				}
			}
		}
	}
}

/** Mobile */
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

	.pages {

		.item {

			&:not(.current):not(.pages-item-previous):not(.pages-item-next) {
				display: none;
			}
		}
	}
}

/** Devices between @screen__m and screen__l */
@media screen and (min-width: @screen__m) and (max-width: @screen__l) {

	.pages {

		.item {

			&:not(.current):not(.pages-item-previous):not(.pages-item-next) {
				display: none;
			}
		}
	}
}

/** Tablet / Medium devices */
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

	.modes-mode {

		&:not(.active) {

			&:hover {
				background: @modes-hover-background;
				color: @modes-hover-color;

				&:before {
					color: @modes-hover-color;
				}
			}
		}
	}

	.page-products {

		.products-grid {

			.product-item {
				margin-right: 2%;
				margin-left: 0;
				width: 49%;

				&:nth-child(even) {
					margin-right: 0;
				}
			}
		}
	}

	.sidebar {

		.product-item-name {
			display: block;
			min-height: auto;
		}
	}
}

/** Desktop / Large devices */
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

	.page-products {

		.products-grid {

			.product-item {
				margin-right: 2%;
				margin-left: 0;
				padding: 10px;
				width: 49%;

				&:nth-child(even) {
					margin-right: 0;
				}
			}
		}
	}
}
