/** Common */
& when (@media-common = true) {

	body {

		&.catalog-product-view {

			.page-main {

				> .page-title-wrapper {

					.page-title {
						font-size: 41px;
				    line-height: 40px;
				    margin-bottom: 20px;
				    margin-top: 0;
					}
				}
			}
		}
	}
}