/** Common */
& when (@media-common = true) {

	body {

		&.catalog-product-view {

			.page-main {

				> .page-title-wrapper {

					.page-title {
						font-size: 41px;
				    line-height: 40px;
				    margin-bottom: 20px;
				    margin-top: 0;
					}
				}
			}
		}
	}

	.fotorama__stage__frame {

		.fotorama__img {
			max-height: inherit !important;
			top: 62% !important;
			width: 100% !important;
		}
	} 

	.fotorama__dot {
		border: 1px solid #40a39f !important;
		height: 10px !important;
		width: 10px !important;
	}

	.fotorama__active {

		.fotorama__dot {
			background-color: #40a39f !important;
		}
	}

	.fotorama__stage {
		background-color: #ffffff;
    box-shadow: 0px 1px 4px 1px #b4b6a9;
    margin-bottom: 10px;
    -moz-box-shadow: 0px 1px 4px 1px #b4b6a9;
    -webkit-box-shadow: 0px 1px 4px 1px #b4b6a9;
	}

	.fotorama__thumb-border {
		border: 1px solid #40a39f !important;
	}

	.fotorama__img {
		cursor: pointer;
	}

	.product {

		&.data {

			&.items {

				> .item {

					&.content {
						font-family: 'Abel', sans-serif;
					}
				}
			}
		}
	}

	.product-info-main {
    background-color: #f8f9f4;
    background-image: linear-gradient(#f8f9f4, #fdfdfb);
    background-image: -ms-linear-gradient(#f8f9f4, #fdfdfb);
    background-image: -moz-linear-gradient(#f8f9f4, #fdfdfb);
    background-image: -o-linear-gradient(#f8f9f4, #fdfdfb);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f9f4), color-stop(100%, #fdfdfb));
    background-image: -webkit-linear-gradient(#f8f9f4, #fdfdfb);
    box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px white inset;
    margin-bottom: 20px;
    text-align: center;
    -moz-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px white inset;
    -webkit-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px white inset;

    .product-info-price {
    	padding: 20px 20px 0 20px;

    	.product-info-stock-sku {

    		> div {
    			display: inline-block;
			    vertical-align: middle;
			    background-color: #c98d7b;
			    color: #ffffff;
			    position: relative;
			    padding: 0px 24px 0px 20px;
			    height: 34px;
			    line-height: 34px;
			    font-size: 16px;
			    text-shadow: -1px -1px 0px #ba6e57;
			    -webkit-box-shadow: 2px 2px 0px #ba6e57;
			    -moz-box-shadow: 2px 2px 0px #ba6e57;
			    box-shadow: 2px 2px 0px #ba6e57;
    		}
    	}

    	.product-reviews-summary {
				float: none;
				margin: 20px auto;
			}
    }

    .price-box {
    	margin-top: 0;

			.price-label {
				display: none !important;
			}

			.price-wrapper {

				.price {
					font-size: 72px;
					font-weight: 300;
					line-height: 84px;
				}
			}
		}

    .product-add-form {
    	clear: both;
    	margin: 0 auto;
    	max-width: 235px;
    	padding: 0 20px;

    	form {

    		.product-options-wrapper {

    			.fieldset {

    				.swatch-opt {

    					.swatch-attribute {

    						&:not(:first-child) {
    							padding-top: 20px;
    						}
    					}
    				}
    			}
    		}
    	}
    }

    .product-social-links {
    	clear: both;
    	padding-bottom: 20px;
    }

    .product {

    	&.attribute {

    		&.sku {
    			color: #ffffff;
    		}

    		&.overview {
    			margin: 0 0 20px;
    			padding: 0 20px;
    		}
    	}
    }

    .box-tocart {
    	width: 100%;

    	div {

    		&.qty {
    			float: left;
    		}

    		&.actions {
    			float: right;
    		}
    	}
    }

    .action {

    	&.tocompare {
    		background: #e2e5d7;
    		color: #59603e;

    		&:hover {
    			background: #d5d9c4;
    			color: #59603e;
    		}
    	}

    	&.towishlist {
    		background: #e2e5d7;
    		color: #59603e;

    		&:hover {
    			background: #d5d9c4;
    			color: #59603e;
    		}
    	}

    	&.mailto {

    		&.friend {
    			color: #787c71;
    		}
    	}

    	&.primary {

    		&:active {
    			background-color: #787c71;
    			border-color: #787c71;
    		}

    		&:focus {
    			background-color: #787c71;
    			border-color: #787c71;
    		}
    	}
    }
	}

	.block {

		.block-title {
	    box-shadow: 0px 1px 0px #c2c4bb;
	    border-bottom: 3px solid #e3e4dd;
	    font-size: 28px;
	    line-height: 30px;
	    margin-bottom: 15px;
	    padding-bottom: 10px;
	    -moz-box-shadow: 0px 1px 0px #c2c4bb;
	    -webkit-box-shadow: 0px 1px 0px #c2c4bb;

	    strong {
	    	color: #3d3b36;
				font-weight: 400;
	    }
		}
	}

	#product-review-container {

		.block {

			.block-title {
		    border: 0;
		    border-bottom: 1px solid #e5e5e5;
		    color: #333333;
				display: block;
		    font-size: 22.5px;
		    line-height: 40px;
		    margin-bottom: 0;
		    padding: 0;
		    width: 100%;

		    strong {
		    	text-transform: none;
		    }
			}
		}
	}

	.review-item {

		.span-1 {
			float: left;
			min-height: 1px;
			width: 70px;

			.comment-author-photo {
		    border: 5px solid #ffffff;
		    border-radius: 50%;
		    box-shadow: 3px 3px 0px 0px #ced0c6;
		    margin-bottom: 30px;
		    overflow: hidden;
		    text-align: center;
		    -moz-border-radius: 50%;
		    -moz-box-shadow: 3px 3px 0px 0px #ced0c6;
		    -ms-border-radius: 50%;
		    -o-border-radius: 50%;
		    -webkit-border-radius: 50%;
				-webkit-box-shadow: 3px 3px 0px 0px #ced0c6;

				img {
			    border: 0;
			    height: auto;
					max-width: 100%;
			    vertical-align: middle;
			    width: auto\9;
				}
			}
		}

		.span-7 {
			float: left;
    	max-width: 100%;
    	min-height: 1px;

    	.review-title {
    		float: left;
    		margin: 0;
    	}

    	.review-content {
    		clear: both;
		    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
    		margin-left: 0;
		    margin-bottom: 0;
		    padding: 15px 0;
		    position: relative;
    	}

    	.review-details {
    		clear: both;
    		margin-left: 0;
    	}

    	.review-ratings {

    		.rating-summary {
    			margin-top: -6px;
    		}
    	}
		}
	}

	.rating-label {
		display: none;
	}

	.rating-summary {

		.rating-result {
			margin-left: 0;
		}
	}

	.review-date {
		display: inline;
	}

	.review-add {

		.block-title {
			border: 0;
	    border-bottom: 1px solid #e5e5e5;
	    color: #333333;
			display: block;
	    font-size: 22.5px;
	    line-height: 40px;
	    margin-bottom: 0;
	    padding: 0;
	    width: 100%;

	    strong {
	    	text-transform: none;
	    }
		}
	}

	.fieldset {
		margin: 0 0 23px;

		.review-legend {

			&.legend {
				display: none;
			}
		}

		> .field {

			&:not(.choice) {

				> .label {
					display: none;
				}

				> .control {

					input[type="text"] {
						background-color: #ffffff;
				    border: 1px solid #cccccc;
				    border-color: #a8b186;
				    box-shadow: inset 1px 1px 2px 0px #ebede3;
				    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
				    font-size: 16px;
				    padding-bottom: 10px;
				    padding-top: 10px;
				    transition: border linear .2s, box-shadow linear .2s;
				    -moz-box-shadow: inset 1px 1px 2px 0px #ebede3;
				    -moz-transition: border linear .2s, box-shadow linear .2s;
				    -o-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-box-shadow: inset 1px 1px 2px 0px #ebede3;
					} 

					input[type="password"] {
						background-color: #ffffff;
				    border: 1px solid #cccccc;
				    border-color: #a8b186;
				    box-shadow: inset 1px 1px 2px 0px #ebede3;
				    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
				    font-size: 16px;
				    padding-bottom: 10px;
				    padding-top: 10px;
				    transition: border linear .2s, box-shadow linear .2s;
				    -moz-box-shadow: inset 1px 1px 2px 0px #ebede3;
				    -moz-transition: border linear .2s, box-shadow linear .2s;
				    -o-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-box-shadow: inset 1px 1px 2px 0px #ebede3;
					} 

					input[type="url"] {
						background-color: #ffffff;
				    border: 1px solid #cccccc;
				    border-color: #a8b186;
				    box-shadow: inset 1px 1px 2px 0px #ebede3;
				    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
				    font-size: 16px;
				    padding-bottom: 10px;
				    padding-top: 10px;
				    transition: border linear .2s, box-shadow linear .2s;
				    -moz-box-shadow: inset 1px 1px 2px 0px #ebede3;
				    -moz-transition: border linear .2s, box-shadow linear .2s;
				    -o-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-box-shadow: inset 1px 1px 2px 0px #ebede3;
					} 

					input[type="tel"] {
						background-color: #ffffff;
				    border: 1px solid #cccccc;
				    border-color: #a8b186;
				    box-shadow: inset 1px 1px 2px 0px #ebede3;
				    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
				    font-size: 16px;
				    padding-bottom: 10px;
				    padding-top: 10px;
				    transition: border linear .2s, box-shadow linear .2s;
				    -moz-box-shadow: inset 1px 1px 2px 0px #ebede3;
				    -moz-transition: border linear .2s, box-shadow linear .2s;
				    -o-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-box-shadow: inset 1px 1px 2px 0px #ebede3;
					} 

					input[type="search"] {
						background-color: #ffffff;
				    border: 1px solid #cccccc;
				    border-color: #a8b186;
				    box-shadow: inset 1px 1px 2px 0px #ebede3;
				    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
				    font-size: 16px;
				    padding-bottom: 10px;
				    padding-top: 10px;
				    transition: border linear .2s, box-shadow linear .2s;
				    -moz-box-shadow: inset 1px 1px 2px 0px #ebede3;
				    -moz-transition: border linear .2s, box-shadow linear .2s;
				    -o-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-box-shadow: inset 1px 1px 2px 0px #ebede3;
					}

					input[type="number"] {
						background-color: #ffffff;
				    border: 1px solid #cccccc;
				    border-color: #a8b186;
				    box-shadow: inset 1px 1px 2px 0px #ebede3;
				    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
				    font-size: 16px;
				    padding-bottom: 10px;
				    padding-top: 10px;
				    transition: border linear .2s, box-shadow linear .2s;
				    -moz-box-shadow: inset 1px 1px 2px 0px #ebede3;
				    -moz-transition: border linear .2s, box-shadow linear .2s;
				    -o-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-box-shadow: inset 1px 1px 2px 0px #ebede3;
					} 

					input[type="datetime"] {
						background-color: #ffffff;
				    border: 1px solid #cccccc;
				    border-color: #a8b186;
				    box-shadow: inset 1px 1px 2px 0px #ebede3;
				    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
				    font-size: 16px;
				    padding-bottom: 10px;
				    padding-top: 10px;
				    transition: border linear .2s, box-shadow linear .2s;
				    -moz-box-shadow: inset 1px 1px 2px 0px #ebede3;
				    -moz-transition: border linear .2s, box-shadow linear .2s;
				    -o-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-box-shadow: inset 1px 1px 2px 0px #ebede3;
					}

					input[type="email"] {
						background-color: #ffffff;
				    border: 1px solid #cccccc;
				    border-color: #a8b186;
				    box-shadow: inset 1px 1px 2px 0px #ebede3;
				    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
				    font-size: 16px;
				    padding-bottom: 10px;
				    padding-top: 10px;
				    transition: border linear .2s, box-shadow linear .2s;
				    -moz-box-shadow: inset 1px 1px 2px 0px #ebede3;
				    -moz-transition: border linear .2s, box-shadow linear .2s;
				    -o-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-box-shadow: inset 1px 1px 2px 0px #ebede3;
					}

					textarea {
						background-color: #ffffff;
				    border: 1px solid #cccccc;
				    border-color: #a8b186;
				    box-shadow: inset 1px 1px 2px 0px #ebede3;
				    font-family: "Abel", "Helvetica Neue", Helvetica, Arial, sans-serif;
				    font-size: 16px;
				    padding-bottom: 10px;
				    padding-top: 10px;
				    transition: border linear .2s, box-shadow linear .2s;
				    -moz-box-shadow: inset 1px 1px 2px 0px #ebede3;
				    -moz-transition: border linear .2s, box-shadow linear .2s;
				    -o-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-transition: border linear .2s, box-shadow linear .2s;
				    -webkit-box-shadow: inset 1px 1px 2px 0px #ebede3;
					}
				}
			}

			&.review-field-ratings {
				margin: 0 0 17px;
			}
		}
	}

	.review-control-vote {

		label {

			&:before {
				color: #40a39f;
			}
		}
	}

	.review-form {
		max-width: 100%;

		.action {

			&.submit {

				&.primary {
					background: #e2e5d7;

					&:hover {
						background: #e2e5d7;
					}
				}
			}
		}
	}

	.swatch-option { 

		&:not(.disabled) {

			&:hover {
				border: 1px solid #40a39f !important;
			}
		}

		&.selected {
			outline: 1px solid #40a39f !important;
		}
	}
}

/** Mobile */
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

	.fotorama__stage {
		margin-bottom: 0 !important;
	}

	.product {

		&.data {

			&.items {

				> .item {

					&.title {

						> .switch {
					    background: #f7f8f1;
					    border-bottom: 1px solid #c9cbbd;
					    box-shadow: 1px 1px 2px #ffffff inset, 1px 1px 3px 0px #d7d8cf;
					    color: #4b4d43;
							display: block;
					    font-size: 18px;
					    font-weight: 300;
					    height: auto;
					    line-height: unset;
					    margin-bottom: 2px;
					    padding: 15px 20px;
					    text-shadow: -1px 0px 0px #ffffff;
					    -moz-box-shadow: 1px 1px 2px #ffffff inset, 1px 1px 3px 0px #d7d8cf;
					    -webkit-box-shadow: 1px 1px 2px #ffffff inset, 1px 1px 3px 0px #d7d8cf;

					    &:visited {
					    	color: #4b4d43;
					    }

					    &:hover {
					    	padding-bottom: 15px;
					    }
						}

						&.active {

							> .switch {
								background: #f7f8f1;
						    border-bottom: 1px solid #c9cbbd;
						    box-shadow: 1px 1px 2px #ffffff inset, 1px 1px 3px 0px #d7d8cf;
						    color: #4b4d43;
								display: block;
						    font-size: 18px;
						    font-weight: 300;
						    height: auto;
						    line-height: unset;
						    margin-bottom: 2px;
						    padding: 15px 20px;
						    text-shadow: -1px 0px 0px #ffffff;
						    -moz-box-shadow: 1px 1px 2px #ffffff inset, 1px 1px 3px 0px #d7d8cf;
						    -webkit-box-shadow: 1px 1px 2px #ffffff inset, 1px 1px 3px 0px #d7d8cf;

						    &:hover {
						    	background: #f7f8f1;
						    	padding-bottom: 15px;
						    }
							}
						}

						&:not(.disabled) {

							> .switch {

								&:active {
									background: #f7f8f1;
									color: #4b4d43;
									padding-bottom: 15px;
								}
							}
						}
					}
				}

				.data {

					&.item {
						margin: 0 0 2px;
					}
				}
			}
		}
	}

	.review-item {

		.span-1 {
			display: none;
		}
	}
}

/** Tablet and desktop */
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

	.product {

		&.data {

			&.items {

				> .item {

					&.title {
						line-height: 20px;
						margin: 0 2px 0 0;

						> .switch {
					    background-color: #f6f7f0;
					    border: none;
					    box-shadow: 0px -2px 1px #eceedf inset;
					    color: #a3a597;
					    font-size: 16px;
					    font-weight: 300;
					    line-height: 20px;
					    padding-bottom: 12px;
							padding-top: 12px;
					    text-transform: uppercase;
					    -moz-box-shadow: 0px -2px 1px #eceedf inset;
					    -webkit-box-shadow: 0px -2px 1px #eceedf inset;
						}

						&.active {

							> .switch {
								box-shadow: none;
								padding-bottom: 12px;

								&:focus {
									padding-bottom: 12px;
								}	

								&:hover {
									padding-bottom: 12px;
								}
							}
						}

						&:not(.disabled) {

							> .switch {

								&:active {
									padding-bottom: 12px;
								}

								&:hover {
									background-color: #ffffff;
								}
							}
						}
					}

					&.content {
				    background-color: #ffffff;
						border-top: 0;
				    box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #ffffff inset;
				    color: #5f6a67;
				    font-family: "Abel", Helvetica, Arial, sans-serif;
						margin-top: 44px;
						overflow: auto;
				    padding: 20px;
				    -moz-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #ffffff inset;
				    -webkit-box-shadow: 0px 1px 4px 1px #b4b6a9, 2px 2px 1px 0px #ffffff inset;
					}
				}
			}
		}
	}

	.review-item {

		.span-7 {
			margin-left: 30px;
		}
	}

	.fieldset {

		> .field {

			&:not(.choice) {

				> .control {
					width: 100%;
				}
			}

			&.review-field-nickname {
				float: left;
				width: 49%;
			}

			&.review-field-summary {
				float: right;
				width: 49%;
			}
		}
	}

	.column:not(.sidebar-main) {

		form {

			.actions-toolbar {
		
				&.review-form-actions {
					margin-left: 0;
				}
			}
		}
	} 
	
	.column:not(.sidebar-additional) {
		
		form {

			.actions-toolbar {
		
				&.review-form-actions {
					margin-left: 0;
				}
			}
		}
	}
}